<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <hr>
                <h2 class="tagline">Welcome to About Page</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <hr>
            </div>
        </div>
    </div>
  </header>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h3>About this page</h3>
        <p class="lead">This is aeat place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
        <ul>
          <li>Clickable nav links that smooth scroll to page sections</li>
          <li>Responsive behavior when clicking nav links perfect for a one page website</li>
          <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
          <li>Minimal custom CSS so you are free to explore your own unique design options</li>
        </ul>
        
        <br />

        <app-sample-info></app-sample-info>
        
      </div>
    </div>
  </div>
</section>