<header class="business-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12  text-center">
                <hr>
                <h2 class="tagline">Directives</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <hr>
            </div>
        </div>
    </div>
  </header>
  
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <p appHighlight defaultColor="purple">Highlight me by hovering!</p>

          <p [appHighlight]="color">Highlight me!</p>

          <h4>Pick a highlight color</h4>
          <div>
            <input type="radio" name="colors" (click)="color='lightgreen'">Green
            <input type="radio" name="colors" (click)="color='yellow'">Yellow
            <input type="radio" name="colors" (click)="color='cyan'">Cyan
          </div>
          
          
        </div>
      </div>
    </div>
  </section>